#!/usr/bin/env bash

set -Eeuo pipefail

# set default umask to a more conservative value
sed -i 's/UMASK\t\t022/UMASK\t\t027/' /etc/login.defs
#cat <<EOF >>/etc/pam.d/common-session
# Allow umask to be changed
#session optional pam_umask.so
#EOF

DEBIAN_FRONTEND=noninteractive pam-auth-update --remove cracklib
rm -f /usr/share/pam-configs/cracklib
DEBIAN_FRONTEND=noninteractive pam-auth-update

update-kernel-cmdline

mkdir -p /boot/efi/EFI/BOOT

uefi_arch=
case "$arch" in
	amd64) uefi_arch=X64;;
esac

for kernel in /boot/vmlinuz-*; do
	#legacy
	dracut\
	--force\
	--kver "${kernel#*-}"\
	--modules "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd gardenlinux base fs-lib shutdown"\
	--reproducible\
	"/boot/initrd.img-${kernel#*-}"

	if [ -n "$uefi_arch" ]; then
		#uefi
		dracut\
		--force\
		--kver "${kernel#*-}"\
		--uefi\
		--modules "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd gardenlinux base fs-lib shutdown"\
		--kernel-cmdline "$(cat /etc/kernel/cmdline)"\
		--reproducible\
		"/boot/efi/EFI/BOOT/BOOT${uefi_arch}.EFI"
	fi
done

if [ -f "/usr/bin/syslinux" ]; then
	# bootloader
	mkdir -p /boot/efi/syslinux
	cp /usr/lib/syslinux/modules/bios/menu.c32 /boot/efi/syslinux/
	cp /usr/lib/syslinux/modules/bios/libutil.c32 /boot/efi/syslinux/

	update-syslinux
fi
